.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: var(--spacer) 0;
  gap: var(--spacer);
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 5rem;
  width: 20%;
  min-width: 10rem;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.title {
  text-align: center;
}
